/************
    RESET
************/
* {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    background-color: #101414;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*NavBar*/
.navbar {
    padding: 20px 0;
    align-items: center;
    background-color: #090c10;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/*INDEX*/
.section {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 100px 30px 30px 30px;
}

.error-message {
    margin: 60px;
    font-size: 36px;
    opacity: 40%;
}

/*CHAT*/
.message-area {
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    width: 500px;
    color: #000000;
    background-image: linear-gradient(#ffffff, #95A5A6);

    .chat-form {
        border-radius: 10px;
        padding: 0 0 20px 0;
        width: 500px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        div {
            margin: 10px 10px;

            label {
                font-size: 14px;
            }

            input {
                margin-top: 5px;
                font-size: 14px;
                padding: 5px;
                width: 160px;
                border: none;
                border-radius: 5px;
            }

            .send-btn-disabled {
                width: 70px;
                font-size: 14px;
            }

            .send-btn-enabled {
                width: 70px;
                font-size: 14px;
                background-color: #e0e0e0;
                color: #000000;
                padding: 5px;
            }

            .send-btn-enabled:hover {
                background-color: rgba(37, 241, 37, 0.901);
                color: #ffffff;
            }

            .send-btn-enabled:active {
                background-color: #e6e6e6;
                color: #b2b2b3;
            }
        }
    }

    #messages {
        width: 500px;
        padding: 20px;

        .message {
            list-style-type: none;
            margin: 20px 0;

            .date {
                font-size: 10px;
            }

            .input {
                margin-top: 5px;
            }
        }
    }
}

/*Buttons*/
.btn-container {
    display: flex;
    justify-content: center;

    .home-btn {
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 24px;
        background-color: rgba(127, 227, 255, 0.558);
        text-decoration: none;
        color: #000000;
        font-family: sans-serif;
    }

    .home-btn:hover {
        background-color: rgb(127, 255, 253);
    }

    .home-btn:active {
        background-color: rgba(162, 180, 174, 0.315);
    }

    .chat-btn {
        border: none;
        border-radius: 10px;
        margin-top: 100px;
        padding: 10px 20px;
        font-size: 24px;
        background-color: rgba(127, 255, 212, 0.558);
        text-decoration: none;
        color: #000000;
        font-family: sans-serif;
    }

    .chat-btn:hover {
        background-color: rgb(127, 255, 212);
    }

    .chat-btn:active {
        background-color: rgba(162, 180, 174, 0.315);
    }
}