doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ../styles/app.css
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap", rel="stylesheet")
        script(src="/socket.io/socket.io.js")
    body
        header 
            nav(class="navbar") 
                div(class="btn-container")
                    a(href='/', class="home-btn") Home
                div(class="btn-container")
                    a(href="/api/products", class="continue-btn") Products
                div(class="btn-container")
                    a(href="/api/chat", class="chat-btn") Live Chat
                div(class="btn-container")
                    a(href="/api/cart", class="cart-btn") Cart
        main
            block form
            block cards
            block chat
            block cart
            script(src="../scripts/prodRender.js")
            script(src="../scripts/chatRender.js")