/************
    RESET
************/
* {
  margin: 0px;
  font-size: 16px; }

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: #101414;
  color: #ffffff; }

h1 {
  text-align: center;
  font-size: 42px;
  font-family: 'Ubuntu', sans-serif; }

/*NavBar*/
.navbar {
  padding: 20px;
  display: grid;
  grid-template-areas: 'btn-container btn-container btn-container';
  grid-template-columns: auto;
  align-items: center;
  background-color: #090c10;
  position: fixed;
  width: 100%;
  z-index: 2; }

.section {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 100px 30px 30px 30px; }
  .section .prod-form {
    margin: 20px;
    background-color: #95A5A6;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    color: #000000; }
    .section .prod-form div {
      margin: 40px 20px; }
      .section .prod-form div label {
        font-size: 16px; }
      .section .prod-form div input {
        margin-top: 5px;
        font-size: 20px;
        border: none;
        padding: 5px;
        width: 350px; }
      .section .prod-form div .send-btn {
        width: 360px;
        font-size: 24px; }
      .section .prod-form div .send-btn:hover {
        background-color: rgba(37, 241, 37, 0.901);
        color: #ffffff; }
      .section .prod-form div .send-btn:active {
        background-color: #efefef90;
        color: initial; }

/*FORM*/
.table {
  width: 1000px;
  margin: 20px auto 0 auto;
  padding: 10px 10px 0 10px;
  color: #000000; }
  .table ul {
    padding: 0%;
    text-align: center; }
    .table ul li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      align-items: center; }
    .table ul .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
      text-align: left; }
    .table ul .table-row {
      background-color: #a6a495;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
      text-align: left; }
      .table ul .table-row div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .table ul .col-1 {
      flex-basis: 70%; }
    .table ul .col-2 {
      flex-basis: 20%; }
    .table ul .col-3 {
      flex-basis: 10%; }
    .table ul .product-overview {
      width: 50px; }

.error-message {
  margin: 60px;
  font-size: 36px;
  opacity: 40%; }

/*Buttons*/
.btn-container {
  display: flex;
  justify-content: center; }
  .btn-container .home-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgba(255, 204, 127, 0.558);
    text-decoration: none;
    color: #000000;
    font-family: sans-serif; }
  .btn-container .home-btn:hover {
    background-color: #ffcc7f; }
  .btn-container .home-btn:active {
    background-color: rgba(162, 180, 174, 0.315); }
  .btn-container .continue-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgba(127, 255, 212, 0.558);
    text-decoration: none;
    color: #000000;
    font-family: sans-serif; }
  .btn-container .continue-btn:hover {
    background-color: aquamarine; }
  .btn-container .continue-btn:active {
    background-color: rgba(162, 180, 174, 0.315); }
  .btn-container .chat-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgba(127, 227, 255, 0.558);
    text-decoration: none;
    color: #000000;
    font-family: sans-serif; }
  .btn-container .chat-btn:hover {
    background-color: #7ffffd; }
  .btn-container .chat-btn:active {
    background-color: rgba(162, 180, 174, 0.315); }

/*CHAT*/
.message-area {
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 500px;
  color: #000000;
  background-image: linear-gradient(#ffffff, #95A5A6); }
  .message-area .chat-form {
    border-radius: 10px;
    padding: 0 0 20px 0;
    width: 500px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; }
    .message-area .chat-form div {
      margin: 10px 10px; }
      .message-area .chat-form div label {
        font-size: 14px; }
      .message-area .chat-form div input {
        margin-top: 5px;
        font-size: 14px;
        padding: 5px;
        width: 160px;
        border: none;
        border-radius: 5px; }
      .message-area .chat-form div .submit-btn-disabled {
        width: 70px;
        font-size: 14px; }
      .message-area .chat-form div .submit-btn-enabled {
        width: 70px;
        font-size: 14px;
        background-color: #e0e0e0;
        color: #000000;
        padding: 5px; }
      .message-area .chat-form div .submit-btn-enabled:hover {
        background-color: rgba(37, 241, 37, 0.901);
        color: #ffffff; }
      .message-area .chat-form div .submit-btn-enabled:active {
        background-color: #e6e6e6;
        color: #b2b2b3; }
  .message-area #messages {
    width: 500px;
    padding: 20px; }
    .message-area #messages .message {
      list-style-type: none;
      margin: 20px 0; }
      .message-area #messages .message .date {
        font-size: 10px; }
      .message-area #messages .message .input {
        margin-top: 5px; }
